body {
  font-family: 'Helvetica Neue';
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.item {
  border: solid 1px #e8e8e8;
  padding-bottom: 18px;
  padding: 30px;
}

.item .picture {
  width: 100%;
  height: 200px;
}

.item h5 {
	color: #636363;
	font-size: 16px;
  font-weight: 300;
  margin: 24px 0px 0px 0px;
}

.item h2 {
	color: #000000;
	font-size: 22px;
	font-weight: bold;
  height: 26px;
  margin: 8px 0px;
}

.item span {
  color: #1f2426;
  display: flex;
  font-size: 16px;
  margin-right: 30px;
  margin-top: 8px;
}

.item span img {
  margin-right: 9.6px;
}

.action {
  padding: 40px;
}

.action button {
	background-color: #f5f5f5;
	border-radius: 100px;
	color: #232323;
	height: 38px;
  border: none;
  font-size: 16px;
  width: 172px;
}